{extend name="base"/}
{block name="con"}
<!--轮播图-->
<div id="banner">
    <main id="bannerMain">
        <div id="slider">
            <div class="slider-inner">
                <div id="pagination">
                    {volist name="banner" id="v"}
                    <button data-slide="{$key}" class="button"></button>
                    {/volist}
                </div>
            </div>
            {volist name="banner" id="v"}
            <a href="{:url($v.href)}"><img src="{$v.thumb}" title="{$v.title}" alt="{$v.alt}" class="bannerImg"/></a>
            {/volist}
        </div>
    </main>
</div>
<!--服务项目-->
<div id="service">
    <div class="container">
        <!--<h2 class="text-center padding">服务项目</h2>-->
        <div class="row marginTop">
            <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="icon animated fadeInUp delayp1">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </div>
                <div class="content">
                    <h3 class="title">App Feature One</h3>
                    <p>Outline an app feature/benefit here. You can change the icon above to any of the 500+FontAwesome icons available. </p>
                </div>
            </div>
            <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="icon animated fadeInUp delayp1">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </div>
                <div class="content">
                    <h3 class="title">App Feature One</h3>
                    <p>Outline an app feature/benefit here. You can change the icon above to any of the 500+FontAwesome icons available. </p>
                </div>
            </div>
            <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="icon animated fadeInUp delayp1">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </div>
                <div class="content">
                    <h3 class="title">App Feature One</h3>
                    <p>Outline an app feature/benefit here. You can change the icon above to any of the 500+FontAwesome icons available. </p>
                </div>
            </div>
            <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="icon animated fadeInUp delayp1">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </div>
                <div class="content">
                    <h3 class="title">App Feature One</h3>
                    <p>Outline an app feature/benefit here. You can change the icon above to any of the 500+FontAwesome icons available. </p>
                </div>
            </div>
        </div>

    </div>
</div>
<!--============================色带===================================-->
<div class="segmentation marginTop" style="background: url('/static/img/index/index1.png') center center;width: 100%;height: 400px;"></div>
<!--=============================产品======================================-->
<div id="product">
    <div class="container">
         <div class="titleBox padding">
             <img src="/static/img/index/lineLeft.png" alt="" class="imgLeft">
             <span class="words">产品中心</span>
             <img src="/static/img/index/lineRight.png" alt="" class="imgRight">
         </div>

            {volist name="procate" id="v"}
            {if $i%2 == 0}
                <div class="row productItem">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="item">
                                <h2 class="productTitle"><a title="{$v.title}" href="{:url('index/Pro/lists',['id'=>$v['id']])}">{$v.name}</a></h2>
                                <div style="padding: 10px 20px;">
                                    <p class="productTitleDetial">{$v.abs}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1 col-sm-3 col-xs-12">
                            <div class="productImg">
                                <img src="{$v.thumb}" alt="{$v.alt}" title="{$v.title}" data-tag="imageSharePreview">
                            </div>
                        </div>
                </div>
            {else/}
                <div class="row productItem">
                    <div class="col-md-5 col-sm-3 col-xs-12">
                        <div class="productImg">
                            <img style="border: none;" src="{$v.thumb}" alt="{$v.alt}" title="{$v.title}"  data-tag="imageSharePreview">
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-1 col-sm-6 col-xs-12">
                        <div class="item">
                            <h2 class="productTitle"><a title="{$v.title}" href="{:url('index/Pro/lists',['id'=>$v['id']])}">{$v.name}</a></h2>
                            <div style="padding: 10px 20px;">
                                <p class="productTitleDetial">{$v.abs}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {/if}
            {/volist}

    </div>
</div>
<!--============================色带===================================-->
<div class="segmentation marginTop" style="background: url('/static/img/index/index2.png') center center;width: 100%;height: 400px;"></div>
<!--==============================新闻=================================-->
<div id="news">
    <div class="container">
        <div class="titleBox padding">
            <img src="/static/img/index/lineLeft.png" alt="" class="imgLeft">
            <span class="words">新闻中心</span>
            <img src="/static/img/index/lineRight.png" alt="" class="imgRight">
        </div>
        <div class="row" style="margin-top:50px;">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="newImg">
                    <div class="row">
                        <div class="box">
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                <ul class="pic-box" id="newsBanner">
                                    {volist name="pNews" id="v"}
                                    <li>
                                        <a href="{:url('index/News/show',['id'=>$v['id']])}">
                                           <img  data-tag="imageSharePreview" style="padding: 8px;border: 1px solid #EEEEEE;border-radius: 5px" src="{$v.thumb}" title="{$v.title}" alt="{$v.alt}" class="newsPic">
                                        </a>
                                    </li>
                                    {/volist}
                                </ul>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <ul class="num-box">
                                    <li class="active numBoxLi"><a href="javascript:;"></a></li>
                                    <li class="numBoxLi"><a href="javascript:;"></a></li>
                                    <li class="numBoxLi"><a href="javascript:;"></a></li>
                                    <li class="numBoxLi"><a href="javascript:;"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {volist name="lNews" id="v"}
                <div class="newsItem">
                    <a href="{:url('index/News/show',['id'=>$v['id']])}"><h4 class="question">{$v.name|substr=###,0,81}</h4><span>发布日期：{$v.addtime|date="Y-m-d",###}</span></a>
                </div>
                {/volist}
            </div>
        </div>
    </div>
</div>
<!--============================色带===================================-->
<div class="segmentation marginTop" style="background: url('/static/img/index/index3.png') center center;width: 100%;height: 400px;"></div>
<!--=============================知识问答======================================-->
<div id="knowledge">
    <div class="container">
        <div class="titleBox padding">
            <img src="/static/img/index/lineLeft.png" alt="" class="imgLeft">
            <span class="words">知识问答</span>
            <img src="/static/img/index/lineRight.png" alt="" class="imgRight">
        </div>
        <div class="row" style="margin-top:50px;">
            <div class="col-md-6 col-sm-6 col-xs-12">
                {volist name="ask" id="v" mod="2"}
                {eq name="mod" value="1"}
                <div class="item">
                    <h3 class="question"><i class="questionIcon"></i>{$v.ques}?</h3>
                    <p class="answer">{$v.anser}</p>
                </div><!--//item-->
                {/eq}
                {/volist}
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {volist name="ask" id="v" mod="2"}
                {eq name="mod" value="0"}
                <div class="item">
                    <h3 class="question"><i class="questionIcon"></i>{$v.ques}?</h3>
                    <p class="answer">{$v.anser}</p>
                </div><!--//item-->
                {/eq}
                {/volist}
            </div>
        </div>
    </div>
</div>

<!--============================色带===================================-->
<div class="segmentation marginTop" style="background: url('/static/img/index/index5.png') center center;width: 100%;height: 400px;"></div>
<!--================================友情链接===================================-->
<div id="link">
    <div class="container">
        <div class="titleBox padding">
            <img src="/static/img/index/lineLeft.png" alt="" class="imgLeft">
            <span class="words">友情链接</span>
            <img src="/static/img/index/lineRight.png" alt="" class="imgRight">
        </div>
        <div class="row" style="margin-top:50px;">
            <div class="swiper-container" >
                <div class="swiper-wrapper">
                    <div class="swiper-slide linkBg">
                        <a href="javascript:;" title="" alt="" target="_blank">
                            <img src="/static/img/index/1.jpg" title="" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide linkBg">
                        <a href="javascript:;" title="" alt="" target="_blank">
                            <img src="/static/img/index/1.jpg" title="" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide linkBg">
                        <a href="javascript:;" title="" alt="" target="_blank">
                            <img src="/static/img/index/1.jpg" title="" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide linkBg">
                        <a href="javascript:;" title="" alt="" target="_blank">
                            <img src="/static/img/index/1.jpg" title="" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide linkBg">
                        <a href="javascript:;" title="" alt="" target="_blank">
                            <img src="/static/img/index/1.jpg" title="" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide linkBg">
                        <a href="javascript:;" title="" alt="" target="_blank">
                            <img src="/static/img/index/1.jpg" title="" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
<!--<script type="text/javascript" src="/static/js/index/jquery.easing.1.3.js"></script>-->
<!--<script type="text/javascript" src="/static/js/index/jquery.transit.js"></script>-->
<!--<script type="text/javascript" src="/static/js/index/bocfe.js"></script>-->
<!--<script type="text/javascript" src="/static/js/index/index.js"></script>-->
<script type="text/javascript">
    $("#pagination .button").eq(0).addClass("active");
    resize();
    $(window).resize(function() {
        resize();
    });
    function resize(){
        var W = $(document.body).width();
        if(W > 992){
            var mySwiper1 = new Swiper('#link .swiper-container',{
                slidesPerView : 5,
                spaceBetween : 20,
                //spaceBetween : '10%',按container的百分比
                loop: true,
                autoplay: {
                    delay: 3000,//1秒切换一次
                },
                autoplayDisableOnInteraction : false,
                // 如果需要分页器
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
            $("#link .swiper-button-prev").css("left","-30px");
            $("#link .swiper-button-next").css("right","-30px");
        }else{
            var mySwiper2 = new Swiper('#link .swiper-container',{
                slidesPerView : 1,
                spaceBetween : 20,
                loop: true,
                autoplay: {
                    delay: 3000,//1秒切换一次
                },
                autoplayDisableOnInteraction : false,
                // 如果需要分页器
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev'
                }
            });
            $("#link .swiper-button-prev").css("left","-20px");
            $("#link .swiper-button-next").css("right","-20px");
        }
    }
    //设置新闻得宽高比
    var newsPic  = $("#newsBanner .newsPic");
    var newsPicW = newsPic.width();
    newsPic.width(parseInt(newsPicW));
    newsPicW = newsPic.width();
    console.log(parseInt(newsPicW));
    newsPic.height(newsPicW/4*3);
</script>
{/block}