{extend name="base"/}
{block name="style"}
<link rel="stylesheet" href="/static/css/index/contact.css">
{/block}
{block name="con"}
<div class="segmentation" style="height:300px;background: url('/static/img/index/about.png');">
    <div class="wrap">
        <div class="inner newsBtnInner">
            联系我们
        </div>
    </div>
</div>
<!--=========================公司简介===================-->
<div>
    <div class="container marginTop">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="img">
                    <img src="img/1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h3 class="text-center">公司简介</h3>
                <p class="companyIn">公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介</p>
            </div>
        </div>
    </div>
</div>
<!--======================企业文化=================-->
<div>
    <div class="container marginTop">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h3 class="text-center">企业文化</h3>
                <p class="companyIn">公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介公司简介</p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="img">
                    <img src="img/1.jpg" alt="">
                </div>
            </div>

        </div>
    </div>
</div>
<!--============================色带===================================-->
<div class="segmentation marginTop">

</div>
<!--=================================企业资质========================-->
<div id="link">
    <div class="container">
        <h2 class="text-center padding">企业资质</h2>
        <div class="row">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide linkBg">
                        <a href="javascript:;" title="" alt="" target="_blank">
                            <img src="img/1.jpg" title="" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide linkBg">
                        <a href="javascript:;" title="" alt="" target="_blank">
                            <img src="img/1.jpg" title="" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide linkBg">
                        <a href="javascript:;" title="" alt="" target="_blank">
                            <img src="img/1.jpg" title="{$v.name}" alt="{$v.name}">
                        </a>
                    </div>
                    <div class="swiper-slide linkBg">
                        <a href="javascript:;" title="" alt="" target="_blank">
                            <img src="img/1.jpg" title="" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide linkBg">
                        <a href="javascript:;" title="" alt="" target="_blank">
                            <img src="img/1.jpg" title="" alt="">
                        </a>
                    </div>
                    <div class="swiper-slide linkBg">
                        <a href="javascript:;" title="" alt="" target="_blank">
                            <img src="img/1.jpg" title="" alt="">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--============================色带===================================-->
<div class="segmentation marginTop">
    <p>三棵树的企业经营哲学来源于老子《道德经》的“道生一、一生二、二生三、三生万物”，“人法地，地法天，天法道，道法自然。”“无为而治”“敬天爱人”等;同时，企业图腾“树”代表健康、绿色、生命力，“三棵树”名字由此而来。</p>
    <p>为了进一步弘扬“道法自然”的企业文化精神，丰富公司的文化载体，树立企业形象，三棵树涂料股份有限公司进行了文化升级，并以50万公开有奖征集司歌的形式，传递企业价值文化。</p>
    <p>在司歌征集期间，主办方陆陆续续收到了来自五湖四海的创作者们的优异作品。作品形式多样，不乏有才华横溢的歌词创作，饱含力量与深情的旋律作曲，词曲俱佳的实力良品。一遍又一遍地刷新了传统对司歌的定义，让三棵树的企业文化在词曲的五线谱中流淌飞扬。</p>
</div>
<!--=============================招聘信息====================================-->
<div id="recruit" style="background-color: #dddddd;padding:100px 0;overflow-x: hidden;width:100%;">
    <h2 class="text-center padding">招聘信息</h2>
    <div class="pictureSlider poster-main" style="overflow: hidden;width:100%;">
        <div class="poster-btn poster-prev-btn"></div>
        <ul id="zturn2" class="poster-list" style="overflow: hidden;width:100%;">
            {volist name="joins" id="v"}
            <li class="poster-item  zturn-item">
                <a href="javascript:;">
                    <p class="xxgy">{$v.name}<span class="salary">{$v.money}</span></p>
                    <p class="require">{$v.abs}</p>
                    <div class="">
                        <div class="row borderBottom">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                {$v.respons}
                            </div>
                        </div>
                        <div class="row borderBottom">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </div>
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                {$v.requirement}
                            </div>
                        </div>
                        <div class="dealTime text-right height">截至日期：{$v.etime|date="Y-m-d",###}</div>
                    </div>
                </a>
            </li>
            {/volist}
        </ul>
    </div>
</div>
<!--============================色带===================================-->
<div class="segmentation marginTop">
    <p>三棵树的企业经营哲学来源于老子《道德经》的“道生一、一生二、二生三、三生万物”，“人法地，地法天，天法道，道法自然。”“无为而治”“敬天爱人”等;同时，企业图腾“树”代表健康、绿色、生命力，“三棵树”名字由此而来。</p>
    <p>为了进一步弘扬“道法自然”的企业文化精神，丰富公司的文化载体，树立企业形象，三棵树涂料股份有限公司进行了文化升级，并以50万公开有奖征集司歌的形式，传递企业价值文化。</p>
    <p>在司歌征集期间，主办方陆陆续续收到了来自五湖四海的创作者们的优异作品。作品形式多样，不乏有才华横溢的歌词创作，饱含力量与深情的旋律作曲，词曲俱佳的实力良品。一遍又一遍地刷新了传统对司歌的定义，让三棵树的企业文化在词曲的五线谱中流淌飞扬。</p>
</div>
<div id="service">
    <div class="container">
        <div class="row marginTop">
            <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="icon animated fadeInUp delayp1">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </div>
                <div class="content">
                    <h3 class="title">座机</h3>
                    <p class="text-center">029-84503374</p>
                </div>
            </div>
            <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="icon animated fadeInUp delayp1">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </div>
                <div class="content">
                    <h3 class="title">传真</h3>
                    <p class="text-center">029-84503374</p>
                </div>
            </div>
            <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="icon animated fadeInUp delayp1">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </div>
                <div class="content">
                    <h3 class="title">邮箱</h3>
                    <p class="text-center">xaybyh@163.com</p>
                </div>
            </div>
            <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="icon animated fadeInUp delayp1">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </div>
                <div class="content">
                    <h3 class="title">手机号</h3>
                    <p class="text-center">17791351090</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="allmap" style="width: 100%;height: 500px;"></div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Gy4AqTRYThebsvQ6G5INzmMSgrbqGu9G"></script>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("allmap");
    var point = new BMap.Point(108.921925,34.229033);
    map.centerAndZoom(point, 15);
    var marker = new BMap.Marker(point);        // 创建标注
    map.addOverlay(marker);
    //添加地图类型控件
    map.addControl(new BMap.MapTypeControl({
        mapTypes:[
            BMAP_NORMAL_MAP,
            BMAP_HYBRID_MAP
        ]}));
    map.setCurrentCity("西安");          // 设置地图显示的城市 此项是必须设置的
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
    var licontent="<b>上上国际</b><br>";
    licontent+="<span><strong>地址：</strong>陕西省西安市雁塔区上上国际</span><br>";
    licontent+="<span><strong>电话：</strong>029-84503374</span><br>";
    licontent+='<span class="\"input\"><strong></strong><input" class="\"outset\"" type=\"text\" name=\"origin\" value=\"北京站\"/><input class="\"outset-but\"" type=\"button\" value=\"公交\" onclick=\"gotobaidu(1)\" /><input class="\"outset-but\"" type=\"button\" value=\"驾车\"  onclick=\"gotobaidu(2)\"/><a class="\"gotob\"" href=\"url=\"http://api.map.baidu.com/direction?destination=latlng:"+marker.getPosition().lat+","+marker.getPosition().lng+"|name:天安门"+"®ion=北京"+"&output=html\" target=\"_blank\"></a></span>';

    var hiddeninput="<input type=\"hidden\" id=\"hiddenValue\" value=\""+'陕西省西安市雁塔区上上国际'+"\" name=\"region\" /><input type=\"hidden\" value=\"html\" name=\"output\" /><input type=\"hidden\" value=\"driving\" name=\"mode\" /><input type=\"hidden\" value=\"latlng:"+marker.getPosition().lat+","+marker.getPosition().lng+"|name:天安门"+"\" name=\"destination\" />";

    var content1 ="<form id=\"gotobaiduform\" action=\"http://api.map.baidu.com/direction\" target=\"_blank\" method=\"get\">" + licontent +hiddeninput+"</form>";

    var opts1 = { width: 300 };

    var  infoWindow = new BMap.InfoWindow(content1, opts1);
    marker.openInfoWindow(infoWindow);
    marker.addEventListener('click',function(){
        marker.openInfoWindow(infoWindow);
    });

    function gotobaidu(type)
    {
        if($.trim($("#hiddenValue").val())=="")
        {
            alert("请输入起点！");
            return;
        }else{
            if(type==1)
            {
                $("input[name=mode]").val("transit");
                $("#gotobaiduform")[0].submit();
            }else if(type==2)
            {
                $("input[name=mode]").val("driving");
                $("#gotobaiduform")[0].submit();
            }
        }
    }
</script>
{/block}
{block name="script"}
<script>
    var ab=new zturn({
        id:"zturn2",
        opacity:0.8,
        width:382,
        Awidth:1024,
        scale:0.6,
        auto:true
    })
    $('.nav-toggle').click(function () {
        $('body').toggleClass('nav-open');
    });
    resize();
    $(window).resize(function() {
        resize();
    });
    function resize(){
        var W = $(document.body).width();
        if(W > 992){
            var mySwiper1 = new Swiper('#link .swiper-container',{
                slidesPerView : 5,
                spaceBetween : 20,
                //spaceBetween : '10%',按container的百分比
                loop: true,
                autoplay: {
                    delay: 3000,//1秒切换一次
                },
                autoplayDisableOnInteraction : false,
                // 如果需要分页器
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
            /*$("#link .swiper-button-prev").css("left","-30px");
            $("#link .swiper-button-next").css("right","-30px");*/
        }else{
            var mySwiper2 = new Swiper('#link .swiper-container',{
                slidesPerView : 1,
                spaceBetween : 20,
                loop: true,
                autoplay: {
                    delay: 3000,//1秒切换一次
                },
                autoplayDisableOnInteraction : false,
                // 如果需要分页器
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev'
                }
            });
            $("#link .swiper-button-prev").css("left","-20px");
            $("#link .swiper-button-next").css("right","-20px");
        }
    }
</script>
{/block}