<link rel="stylesheet" href="/static/plugs/bootstrap-3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/index/common.css">
<link rel="stylesheet" href="/static/css/index/index.css">
<link rel="stylesheet" href="/static/plugs/swiper/animate.min.css">
<link rel="stylesheet" href="/static/plugs/swiper/swiper-4.2.2.min.css">
<script type="text/javascript" src="/static/js/index/jquery.js"></script>
<script type="text/javascript" src="/static/plugs/swiper/swiper-4.2.2.min.js"></script>
<script type="text/javascript" src="/static/js/index/carousel.js"></script>
<script type="text/javascript" src="/static/js/index/wow.js"></script>
<script type="text/javascript" src="/static/js/index/common.js"></script>
<script type="text/javascript" src="/static/js/index/index.js"></script>