<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
    <meta name="description" content="{$desc}" />
    <meta name="Keywords" content="{$keywords}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {include file='extra@index/inc'}
    {block name="style"}{/block}
</head>
<body class="loading">
<div class="phone">
    <div class="screen">
        <div class="nav-toggle">
            <div class="icon"></div>
        </div>
        <div class="lower-screen">
            <div id="top">
                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            </div>
            <header id="header">
                <div class="firstHeader">
                    <div class="container">
                        <div class="row">
                            <div class="headerLeft">
                                <span>电话：029-84503374</span>
                                <span>时间：上午9点至下午6点</span>
                            </div>
                            <div class="headerRight">
                                <div class="share">
                                    <img src="" alt="">
                                </div>
                                <div class="share">
                                    <img src="" alt="">
                                </div>
                                <div class="share">
                                    <img src="" alt="">
                                </div>
                                <div class="share">
                                    <img src="" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="secondHeader container">
                    <div class="logo">
                        <a href="javascript:;">
                            <h1>
                                <img src="img/logo1.png" alt="LOGO">
                            </h1>
                        </a>
                    </div>
                    <div class="bc">
                        <div class="nav">
                            <ul>
                                {volist name="nav" id="v"}
                                <li>
                                    <a href="{:url($v.url)}" title="{$v.tips}">
                                        <h2>{$v.name}</h2>
                                    </a>
                                </li>
                                {/volist}
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            {block name="con"}{/block}
            <footer id="footer">
                <!--<div class="row marginTop">-->
                <div class="col-sm-4 col-xs-12 col-md-4">
                    <h2>产品</h2>
                    <ul>
                        <li><a href="javascript:;"><h3>黑龙江省花园强制戒毒所禁毒教育基地</h3></a></li>
                        <li><a href="javascript:;"><h3>产品1</h3></a></li>
                        <li><a href="javascript:;"><h3>产品1</h3></a></li>
                        <li><a href="javascript:;"><h3>黑龙江省花园强制戒毒所禁毒教育基地</h3></a></li>
                        <li><a href="javascript:;"><h3>产品1</h3></a></li>
                        <li><a href="javascript:;"><h3>产品1</h3></a></li>
                        <li><a href="javascript:;"><h3>黑龙江省花园强制戒毒所禁毒教育基地</h3></a></li>
                        <li><a href="javascript:;"><h3>产品1</h3></a></li>
                        <li><a href="javascript:;"><h3>产品1</h3></a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-4">
                    <h2>新闻</h2>
                    <ul>
                        <li><a href="javascript:;"><h3>黑龙江省花园强制戒毒所禁毒教育基地</h3></a></li>
                        <li><a href="javascript:;"><h3>产品1</h3></a></li>
                        <li><a href="javascript:;"><h3>产品1</h3></a></li>
                        <li><a href="javascript:;"><h3>黑龙江省花园强制戒毒所禁毒教育基地</h3></a></li>
                        <li><a href="javascript:;"><h3>产品1</h3></a></li>
                        <li><a href="javascript:;"><h3>产品1</h3></a></li>
                        <li><a href="javascript:;"><h3>黑龙江省花园强制戒毒所禁毒教育基地</h3></a></li>
                        <li><a href="javascript:;"><h3>产品1</h3></a></li>
                        <li><a href="javascript:;"><h3>产品1</h3></a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-12 col-md-4">
                    <h2>公司信息</h2>
                    <ul>
                        <li><a href="javascript:;"><h3>黑龙江省花园强制戒毒所禁毒教育基地</h3></a></li>
                        <li><a href="javascript:;"><h3>产品1</h3></a></li>
                        <li><a href="javascript:;"><h3>产品1</h3></a></li>
                        <li><a href="javascript:;"><h3>黑龙江省花园强制戒毒所禁毒教育基地</h3></a></li>
                        <li><a href="javascript:;"><h3>产品1</h3></a></li>
                        <li><a href="javascript:;"><h3>产品1</h3></a></li>
                        <li><a href="javascript:;"><h3>黑龙江省花园强制戒毒所禁毒教育基地</h3></a></li>
                        <li><a href="javascript:;"><h3>产品1</h3></a></li>
                        <li><a href="javascript:;"><h3>产品1</h3></a></li>
                    </ul>
                    <div class="col-md-4 col-md-offset-1 infoImg">
                        <img src="img/1.jpg" alt="">
                    </div>
                    <div class="col-md-4 col-md-offset-1 infoImg">
                        <img src="img/1.jpg" alt="">
                    </div>
                </div>
                <!--</div>-->
            </footer>
            <div id="industrySection">
                <div class="industrySectionContainer">
			<span id="industrySpan">
				<script language="javaScript" src="http://wljg.xags.gov.cn/bsjs_new/610113/6101136101130000023456.js"></script>
			</span>
                    <span id="ICPSpan">陕ICP备16018587号</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/index/three.js"></script>
<script src='/static/js/index/imagesloaded.pkgd.js'></script>
<script src='/static/js/index/TweenMax.min.js'></script>
<script src="/static/js/index/banner.js"></script>
<script src="/static/js/index/jquery.js"></script>
<script src="/static/js/index/zturn.js"></script>
<script src="/static/plugs/swiper/swiper-4.2.2.min.js"></script>
<script src="/static/js/index/jquery.easing.1.3.js"></script>
<script src="/static/js/index/jquery.transit.js"></script>
<script src="/static/js/index/bocfe.js"></script>
<script src="/static/js/index/index.js"></script>
<script src="/static/js/index/common.js"></script>
{block name="script"}{/block}
</body>
</html>
