{extend name="content"/}
{block name="style"}
{/block}
{block name="con"}
<div>
    <div>
        <form id="ff" action="{$url ?? ''}" method="post" onsubmit="return submitFun(this);">
            <table cellpadding="5">
                <colgroup>
                    <col width="15%">
                    <col width="85%">
                </colgroup>
                <tr>
                    <td>上传轮播:</td>
                    <td>
                        <input  type="text" name="thumb" class="required" style="width: 50%;" readonly value="{$bannerInfo.thumb}" placeholder="{:config('cue.thumb')}">
                        <input type="file" name="file" style="display: none"/>
                        <span id="up" style="margin: 0 20px;" class="choicon"><a href="javascript:void(0)" class="easyui-linkbutton"><i class="fa fa-upload" aria-hidden="true"></i></a></span>
                        <img id="logo" src="{$bannerInfo.thumb}" alt="预览" style="width: 256px;vertical-align: middle;"/>
                    </td>
                </tr>
                <tr>
                    <td>轮播title:</td>
                    <td><input type="text" name="title" class="len" value="{$bannerInfo.title}" placeholder="{:config('cue.title')}"></td>
                </tr>
                <tr>
                    <td>轮播alt:</td>
                    <td>
                        <input type="text" name="alt" class="len" value="{$bannerInfo.alt}" placeholder="{:config('cue.alt')}">
                    </td>
                </tr>
                <tr>
                    <td>链接地址:</td>
                    <td>
                        <input  type="text" name="href" class="len" placeholder="{:config('cue.url')}" value="{$bannerInfo.href}">
                    </td>
                </tr>
                <tr>
                    <td>排序:</td>
                    <td>
                        <input type="text" name="sort" class="num" value="{$bannerInfo.sort}">
                    </td>
                </tr>
                <tr>
                    <td>是否显示:</td>
                    <td>
                        {eq name="bannerInfo.is_show" value="1"}
                        <input  type="radio" name="is_show" value="1" checked>显示
                        <input  type="radio" name="is_show" value="0" >隐藏
                        {else/}
                        <input  type="radio" name="is_show" value="1">显示
                        <input  type="radio" name="is_show" value="0" checked>隐藏
                        {/eq}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="table_center">
                        <input type="submit" class="easyui-linkbutton" value="修改">
                        <input type="button" class="easyui-linkbutton" value="返回" onclick="goBack();">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
    $(function(){
        $('#up').click(function(){
            $("input[type='file']").click();
        });

        $("input[type='file']").change(function(){
            var url = "{:url('heart/Base/upload')}";
            var file = this.files[0];
            var data = new FormData();
            data.append('file',file);
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                mimeType: 'multipart/form-data',
                contentType: false,
                processData: false,
                success: function(res){
                    //显示预览图
                    var img = JSON.parse(res);
                    var logo = $('#logo');
                    logo.css('display','');
                    logo.attr("src",img.url);
                    //追加表单路径
                    $("input[name='thumb']").val(img.url);
                },
                error: function(res){
                    var img = JSON.parse(res);
                    $.messager.alert({
                        title: '提示',
                        msg: img.msg,
                        fn: function(){
                            window.location.reload();
                        }
                    });
                }
            });
        });
    });

</script>
{/block}