{extend name="content"/}
{block name="style"}
{/block}
{block name="con"}
<div>
    <div>
        <form id="ff" action="{$url ?? ''}" method="post" onsubmit="return submitFun(this);">
            <table cellpadding="5">
                <colgroup>
                    <col width="15%">
                    <col width="85%">
                </colgroup>
                <tr>
                    <td>导航名称:</td>
                    <td><input type="text" name="name" class="len"></td>
                </tr>
                <tr>
                    <td>导航地址:</td>
                    <td><input  type="text" name="url" class="required" placeholder="{:config('cue.url')}"></td>
                </tr>
                <tr>
                    <td>排序:</td>
                    <td><input  type="text" name="sort" class="num"></td>
                </tr>
                <tr>
                    <td>是否显示:</td>
                    <td>
                        <input type="radio" name="is_show" value="1" checked>显示
                        <input type="radio" name="is_show" value="0">隐藏
                    </td>
                </tr>
                <tr>
                    <td>导航title:</td>
                    <td><input  type="text" name="tips" class="len" placeholder="{:config('cue.title')}"></td>
                </tr>
                <tr>
                    <td>页面title:</td>
                    <td><input  type="text" name="title" class="len" placeholder="{:config('cue.tip')}"></td>
                </tr>
                <tr>
                    <td>页面keywords:</td>
                    <td><input  type="text" name="keywords" class="len" placeholder="{:config('cue.keywords')}"></td>
                </tr>
                <tr>
                    <td>页面description:</td>
                    <td><input  type="text" name="desc" placeholder="{:config('cue.desc')}"></td>
                </tr>
                <tr>
                    <td colspan="2" class="table_center">
                        <input type="submit" class="easyui-linkbutton" value="添加">
                        <input type="button" class="easyui-linkbutton" value="返回" onclick="goBack();">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">

</script>
{/block}