{extend name="content"/}
{block name="style"}
{/block}
{block name="con"}
<div>
    <div>
        <form id="ff" action="{$url ?? ''}" method="post" onsubmit="return submitFun(this);">
            <table cellpadding="5">
                <colgroup>
                    <col width="15%">
                    <col width="85%">
                </colgroup>
                <tr>
                    <td>新闻标题:</td>
                    <td><input type="text" name="name" class="len" value="{$newsInfo.name}"></td>
                </tr>
                <tr>
                    <td>摘要:</td>
                    <td>
                        <input type="text" name="abs" class="len" value="{$newsInfo.abs}">
                    </td>
                </tr>
                <tr>
                    <td>所属分类:</td>
                    <td>
                        <select name="pid" class="required">
                            {foreach $cate as $v}
                            <option value="{$v.id}" {if condition="$v['id']==$newsInfo['pid']"}selected{/if}>{$v.name}</option>
                            {/foreach}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>是否显示:</td>
                    <td>
                        {eq name="newsInfo.is_show" value="1"}
                        <input type="radio" name="is_show" value="1" checked>显示
                        <input type="radio" name="is_show" value="0">隐藏
                        {else/}
                        <input type="radio" name="is_show" value="1">显示
                        <input type="radio" name="is_show" value="0" checked>隐藏
                        {/eq}
                    </td>
                </tr>
                <tr>
                    <td>正文:</td>
                    <td>
                        <textarea name="detail" id="container" class="required" style="width: 100%">{$newsInfo.detail}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>排序:</td>
                    <td><input type="text" name="sort" class="num" value="{$newsInfo.sort}"></td>
                </tr>
                <tr>
                    <td>缩略图:</td>
                    <td>
                        <input  type="text" name="thumb" class="required" style="width: 50%;" value="{$newsInfo.thumb}" readonly placeholder="{:config('cue.thumb')}">
                        <input type="file" name="file" style="display: none"/>
                        <span id="up" style="margin: 0 20px;" class="choicon"><a href="javascript:void(0)" class="easyui-linkbutton"><i class="fa fa-upload" aria-hidden="true"></i></a></span>
                        <img id="thumb" src="{$newsInfo.thumb}" alt="预览" style="width: 128px;height: 75px;vertical-align: middle;"/>
                    </td>
                </tr>
                <tr>
                    <td>缩略图title:</td>
                    <td><input type="text" name="title" class="len" value="{$newsInfo.title}" placeholder="{:config('cue.title')}"></td>
                </tr>
                <tr>
                    <td>缩略图alt:</td>
                    <td><input type="text" name="alt" class="len" value="{$newsInfo.alt}" placeholder="{:config('cue.alt')}"></td>
                </tr>
                <tr>
                    <td>详情页(HTML)title:</td>
                    <td><input type="text" name="tip" class="len" value="{$newsInfo.tip}" placeholder="{:config('cue.tip')}"></td>
                </tr>
                <tr>
                    <td>详情页(HTML)desc:</td>
                    <td><input type="text" name="desc" class="len" value="{$newsInfo.desc}" placeholder="{:config('cue.desc')}"></td>
                </tr>
                <tr>
                    <td>详情页(HTML)keywords:</td>
                    <td><input type="text" name="keywords" class="len" value="{$newsInfo.keywords}" placeholder="{:config('cue.keywords')}"></td>
                </tr>
                </tr>
                <tr>
                    <td colspan="2" class="table_center">
                        <input type="submit" class="easyui-linkbutton" value="保存修改">
                        <input type="button" class="easyui-linkbutton" value="返回" onclick="goBack();">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
    var ue = UE.getEditor('container');
    $(function(){
        $('#up').click(function(){
            $("input[type='file']").click();
        });

        $("input[type='file']").change(function(){
            var url = "{:url('heart/Base/upload')}";
            var file = this.files[0];
            var data = new FormData();
            data.append('file',file);
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                mimeType: 'multipart/form-data',
                contentType: false,
                processData: false,
                success: function(res){
                    //显示预览图
                    var img = JSON.parse(res);
                    var logo = $('#thumb');
                    logo.css('display','');
                    logo.attr("src",img.url);
                    //追加表单路径
                    $("input[name='thumb']").val(img.url);
                },
                error: function(res){
                    var img = JSON.parse(res);
                    $.messager.alert({
                        title: '提示',
                        msg: img.msg,
                        fn: function(){
                            window.location.reload();
                        }
                    });
                }
            });
        });
    });
</script>
{/block}