
.active {
    background-color: #9BA842;
}

.disabled {
    cursor: not-allowed;
    background-color: #EEEEEE;
}
.icon {
    float: left;
    padding: 20px;
}

.icon i {
    cursor: pointer;
}

.radius-3 {
    border-radius: 3px;
}

input[type='submit'],input[type='button'] {
    padding: 5px 10px;
    margin: 10px;
    border-radius: 3px;
    border: 1px solid #C0E1D4;
}

.choicon a{
    border-radius: 3px;

    border: 1px solid #C0E1D4;
}

.hr-height-2 {
    clear: both;
    margin: 10px 0;
    height: 2px;
    border: none;
    background-color: #C8D47B;

}

table {
    margin: 10px 0;
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
}
table tr td,table tr th{
    padding: 8px 10px;
    border: 1px solid #C8D47B;
}
table tr th {
    color: #5D5765;
    background-color: #F2F2F2;
    letter-spacing: 3px;
}

.title {
    color: #686E43;
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
    border-left: 8px solid #C8D47B;
    padding-left: 5px;
}
.page {
    text-align: right;
}
.page ul li {
    display: inline-block;
    padding: 5px 12px;
    border: 1px solid #9BA842;
    margin: 0 4px;
    border-radius: 2px;
}

.page ul li a {
    text-decoration: none;
    color: #686E43;
    display: block;
    width: 100%;

}

#header {
    background: url("../../img/heart/header_bg.jpg");
}

