table {
    width: 600px;
    font-size: 14px;
    margin-bottom: 20px;
    border-collapse: collapse;
}
table tr td,table tr th{
    padding: 8px 10px;
    border: 1px solid #E1E1E1;
}
table tr th {
    color: #888888;
    letter-spacing: 3px;
}
table tr td input[type="text"] {
    width: 80%;
    height: 30px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
}
table tr td input[type="password"] {
    width: 80%;
    height: 30px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
}
table tr td select {
    width: 80%;
    height: 30px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
}
table tr td textarea {
    height: 50px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
}
.table_center {
    text-align: center;
}