<link rel="stylesheet" type="text/css" href="/static/plugs/easyUI/themes/metro-green/easyui.css">
<link rel="stylesheet" type="text/css" href="/static/plugs/easyUI/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/static/plugs/easyUI/demo/demo.css">
<link rel="stylesheet" type="text/css" href="/static/plugs/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/heart/table.css">
<link rel="stylesheet" type="text/css" href="/static/css/heart/main.css">
<link rel="stylesheet" type="text/css" href="/static/css/heart/validate.css">
<script type="text/javascript" src="/static/plugs/easyUI/jquery.min.js"></script>
<script type="text/javascript" src="/static/plugs/easyUI/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/js/heart/main.js"></script>
<script type="text/javascript" src="/static/plugs/ueditor/ueditor.config.js"></script>

<script type="text/javascript" src="/static/plugs/ueditor/ueditor.all.min.js"></script>
