*{
    margin:0;
    padding:0;
}
.overFlow{
    overflow-y: hidden;
}
ul{
    list-style: none;
    width:100%;
}
li{
    float: left;
}
a{
    text-decoration: none;
}
section{
    width:100%;
}
img {
    border: 0;
    vertical-align: middle;
    width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.white{
    color:#fff;
}
/*==============头部导航栏================*/
#header{
    width:100%;
    height:60px;
    background-color: transparent;
    position:fixed;
    top:0;
    left:0;
    z-index:9999;
    border-bottom:1px solid #fff;
}
#header .navContainer{
    width:1120px;
    height:60px;
    margin:0 auto;
}
#header #logo{
    width:180px;
    height:44px;
    float: left;
    position:relative;
    margin-top:6px;
}
#logo img{
    transition: all 0.5s linear 0s;
    -moz-animation: all 0.5s linear 0s ;
    -webkit-animation:  all 0.5s linear 0s;
    -o-animation:  all 0.5s linear 0s;
    position:absolute;
    display: inline-block;
    width:100%;
    height:100%;
    left:0;
}
#logo img:hover{
    left:10px;
}
#header #logo a,#header #logo a h1,#header #logo a img{
    display: inline-block;
    width:100%;
    height:100%;
    margin:0;
}
#header #navBar.pcNav{
    float: right;
    height:60px;
    line-height:60px;
}
#header #navBar.pcNav li{
    padding:0 23px 0 10px;
    border-top:2px solid transparent;
}
#header #navBar.pcNav li a,#header #navBar.pcNav li a h2{
    color:#fff;
    font-size:16px;
}
#header #navBar.pcNav li:hover .link{
    color:#00A3DF;
    text-decoration: none;
}
#header #navBar.pcNav li.active a,#header #navBar.pcNav li:hover a{
    color:#00A3DF;
}
#header .navContainer.mobileHeader{
    width:100%;
}
#header .navContainer .mobileBtn{
    position:absolute;
    margin:12px;
    font-size:20px;
}
#header #logo.mobileLogo{
    float: right;
    margin-right:30px;
}
.mobileNav{
    width:80%;
    display: table;
    background-color: #333333;
    position:absolute;
    top:0;
    left:-600px;
}
.hideNav{
    width:20%;
    background: rgba(137, 137, 137, .48);
    position: absolute;
    top:0;
    right:-600px;
}
.mobileNav li:nth-of-type(1){
    padding-top:40px;
}
.mobileNav li{
    width:100%;
    text-indent: 20px;
    padding:20px 0;
}
#header.headerActive #navBar.mobileNav li a h2,.mobileNav li a h2{
    color:#fff;
    font-size:16px;
    margin:0;
}
/*==========大于60px导航栏变色 =======*/
#header.headerActive{
    background-color: #fff;
}
#header.headerActive #navBar li a h2{
    color:#333;
}
/*====================================footer==============================*/
footer {
    background: #323232;
}
footer .footerContainer{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    padding:30px 0;
    color:#999;
}
footer .footerContainer ul{
    width:100%;
    display: inline-block;
}
footer .footerContainer p{
    font-size:14px;
    height:24px;
    line-height:24px;
}
footer .footerContainer p.footerTitle{
    font-size:18px;
    height:30px;
    line-height:30px;
}
footer .copyRight{
    background: #1b1b1b;
    line-height: 70px;
    font-size: 14px;
    color: #999;
    width:100%;
    text-align: center;
}
/*=============================标题======================================*/
.titleContain{
    width:100%;
    text-align: center;
}
.titleContain h2.sectionTitle{
    margin: 30px auto;
    font-size: 34px;
    color: #333;
    font-weight: normal;
}
.titleContain .sectionIntroduce{
    font-size: 16px;
    color: #333;
    line-height: 2;
}
/*============================底部padding========================================*/
.paddingBottom50{
    padding: 50px 0;
}
.paddingBottom30{
    padding: 30px 0;
}
.container{
    width:90%;
    margin-left:5%;
    margin-right:5%;
}
.itemCon{
    padding:40px 20px;
}
.itemCon h4{
    font-size:24px;
}
.itemCon p{
    font-size:16px;
    height:28px;
    line-height:28px;
}
.borderBottom{
    border-bottom:1px solid #ddd;
}
.newsTab{
    width: 100%;
    text-align: center;
    padding: 20px 0 40px 0;
    overflow: hidden;
}
.newsTab .newsBtn{
    padding: 10px 30px;
    background: #fff;
    border: 1px solid #6d80bc;
    color: #333;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
.newsTab .newsBtn.active{
    background: #6d80bc;
    color: #fff;
}
/*======================温习居中显示=================================*/
.textCenter{
    width:100%;
    text-align: center;
}
.boxSizing{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.border{
    border:1px solid #ddd;
}
@media (min-width: 992px){
    .col-2{
        width:20%;
        float: left;
    }
    .col-3{
        width:33.3%;
        float: left;
    }
    .col-4{
        width:25%;
        float: left;
    }
    .col-5{
        width:50%;
        float: left;
    }
    .col-60{
        width:60%;
        float: left;
    }
}
.right{
    float: right;
}
.detailContainer{
    margin-top:-100px;
    background-color: #fff;
}

