ul{
    list-style: none;
    float: left;
}
/*================================气泡=========================*/
.bubbleItem{
    /*border:1px solid #ddd;*/
    border: 5px solid #56bc94;
    position: relative;
    padding: 10px;
    width: 100%;
    height: 255px;
    border-radius: 5px;
    margin: 10px auto 0;
    color: #000;
    background: url("/static/img/index/pattern-1.png") #fff;
}
.bubbleItem .bubbleLeftContainer{
    position:absolute;
    top: -3px;
    left: -20px; /* 圆角的位置需要细心调试哦 */
    width:0;
    height:0;
    font-size:0;
    border:solid 8px;
    border-color:#fff #56bc94  #fff #fff ;
}
.bubbleItem .bubbleRightContainer{
    position:absolute;
    top: -2px;
    right: -21px; /* 圆角的位置需要细心调试哦 */
    width:0;
    height:0;
    font-size:0;
    border:solid 8px;
    border-color:#fff  #fff #fff #56bc94;
}
/*=================================居中=======================*/
.wrap {
    float: left; /* 自适应内容宽度 */
    position: relative;
    left: 50%;
}
.inner {
    position: relative;
    left: -50%;
}
.parent1{
    display: table;
    width: 100%;
}
.parent1 .child{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

/*==============================top===========================*/
#top{
    position:fixed;
    right:40px;
    bottom:40px;
    color:#fff;
    width:40px;
    height:40px;
    font-size:30px;
    background-color: #585954;
    z-index:999999998;
    border-radius: 4px;
    cursor: pointer;
}
#top .glyphicon{
    margin:5px;
}
/*==========================header========================*/
@media (min-width: 1200px){
    #navToggle{
        display: none;
    }
    header .firstHeader{
        padding:20px 0 40px 0;
        height:26px;
        border-bottom:1px solid #ddd;
    }
    header .firstHeader .headerLeft{
        font-size:12px;
        float: left;
    }
    header .firstHeader .headerLeft span{
        padding-right: 20px;
    }
    header .firstHeader  .headerRight{
        float: right;
        height:26px;
    }
    header .firstHeader  .headerRight .share{
        float: left;
        width:26px;
        height:26px;
        margin-left:20px;
    }
    header .firstHeader  .headerRight .share img{
        width:100%;
    }
    header .secondHeader{
        padding-bottom:20px;
    }
    header .secondHeader.activeHeader{
        position:fixed;
        top:0;
        left:0;
        z-index:999999;
        background-color: #fff;
        border-bottom:1px solid #ddd;
        width:100%;
        padding-left:40px;
        padding-right:40px;
    }
    header .secondHeader .logo{
        float: left;
        width:180px;
    }
    header .secondHeader .logo a,header .secondHeader .logo a h1,header .secondHeader .logo a h1 img{
        width:100%;
    }
    header .secondHeader .nav{
        float: right;
    }
    header .secondHeader .nav ul li{
        float: left;
    }
    header .secondHeader .nav ul li a{
        color: #000000;
        display:inline-block;
        padding:22px 30px 0 30px;
        line-height: 100%;
    }
    header .secondHeader .nav ul li a h2{
        font-size: 14px;
    }
}
@media (min-width: 992px){
    header .firstHeader{
        padding:20px 0 40px 0;
        height:26px;
        border-bottom:1px solid #ddd;
    }
    header .firstHeader .headerLeft{
        font-size:12px;
        float: left;
    }
    header .firstHeader .headerLeft span{
        padding-right: 20px;
    }
    header .firstHeader  .headerRight{
        float: right;
        height:26px;
    }
    .bdsharebuttonbox .qzone1 {
        background: url(../../img/index/qzone.png);
        width: 26px;
        height: 26px;
        background-size: cover;
        padding: 0;
        margin: 0;
    }
    .bdsharebuttonbox .tsina1 {
        background: url(../../img/index/weibo.png);
        width: 26px;
        height: 26px;
        background-size: cover;
        padding: 0;
        margin: 0;
    }
    .bdsharebuttonbox .tqq1 {
        background: url(../../img/index/qq.png);
        width: 24px;
        height: 24px;
        background-size: cover;
        padding: 0;
        margin: 0;
    }
    .bdsharebuttonbox .weixin1 {
        background: url(../../img/index/wechat.png);
        width: 24px;
        height: 24px;
        background-size: cover;
        padding: 0;
        margin: 0;
    }

    header .firstHeader  .headerRight .share{
        float: left;
        width:26px;
        height:26px;
        margin-left:20px;
    }
    header .firstHeader  .headerRight .share img{
        width:100%;
    }
    header .secondHeader{
        padding-bottom:20px;
    }
    header .secondHeader.activeHeader{
        position:fixed;
        top:0;
        left:0;
        z-index:999999;
        background-color: #fff;
        border-bottom:1px solid #ddd;
        width:100%;
        padding-left:40px;
        padding-right:40px;
    }
    header .secondHeader .logo{
        float: left;
        width:180px;
    }
    header .secondHeader .logo a,header .secondHeader .logo a h1,header .secondHeader .logo a h1 img{
        width:100%;
    }
    header .secondHeader .nav{
        float: right;
    }
    header .secondHeader .nav ul li{
        float: left;
    }
    header .secondHeader .nav ul li a{
        color: #000000;
        display:inline-block;
        padding:22px 30px 0 30px;
        line-height: 100%;
    }
    header .secondHeader .nav ul li a h2{
        font-size: 14px;
    }
}
@media (max-width: 768px){
    header .firstHeader{
        display: none;
    }
    header .secondHeader .logo{
        display: none;
    }
    body.nav-open .nav {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        z-index:9999999999999999999;
    }
    body.nav-open .nav ul li a{
        display: block;
    }
    body.nav-open .nav-toggle {
        box-shadow: none;
    }
    body.nav-open .nav-toggle:before {
        width: 3000px;
        height: 3000px;
        background-color: rgba(74, 117, 230, 0.95);
    }
    #banner{
        display: block;
        -webkit-transition-duration: 0.66s;
        transition-duration: 0.66s;
    }
    body.nav-open #banner{
        /*display: none;*/
        -webkit-transition-duration: 0.66s;
        transition-duration: 0.66s;
    }
    body.nav-open .nav-toggle .icon {
        width: 0;
    }
    body.nav-open .nav-toggle .icon:before {
        -webkit-transform: translateY(9px) rotate(45deg);
        -ms-transform: translateY(9px) rotate(45deg);
        transform: translateY(9px) rotate(45deg);
    }
    body.nav-open .nav-toggle .icon:after {
        -webkit-transform: translateY(-9px) rotate(-45deg);
        -ms-transform: translateY(-9px) rotate(-45deg);
        transform: translateY(-9px) rotate(-45deg);
    }
    .nav-toggle {
        width: 60px;
        height: 60px;
        top:10px;
        left:10px;
        z-index: 9999999999;
        border-radius: 50%;
        margin: 10px;
        position: fixed;
        cursor: pointer;
        box-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
        -webkit-transition-duration: 0.66s;
        transition-duration: 0.66s;
        -webkit-transition-timing-function: swing;
        transition-timing-function: swing;
    }
    .nav-toggle:before {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #4A75E6;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        -webkit-transition-duration: 0.66s;
        transition-duration: 0.66s;
        -webkit-transition-timing-function: swing;
        transition-timing-function: swing;
    }
    .nav-toggle .icon {
        width: 30px;
        height: 4px;
        background-color: white;
        border-radius: 2px;
        position: absolute;
        top: 28px;
        left: 15px;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        transiting-timing-function: swing;
    }
    .nav-toggle .icon:before,
    .nav-toggle .icon:after {
        width: 30px;
        height: 4px;
        background-color: white;
        border-radius: 2px;
        content: "";
        position: absolute;
        left: 0;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: swing;
        transition-timing-function: swing;
    }
    .nav-toggle .icon:before {
        top: -9px;
    }
    .nav-toggle .icon:after {
        top: 9px;
    }
    .nav {
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        padding: 0 20px;
        -webkit-transition-duration: 0.66s;
        transition-duration: 0.66s;
        -webkit-transition-timing-function: swing;
        transition-timing-function: swing;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    .nav ul{
        width:100%;
        margin:0;
        padding:0;
    }
    .nav ul li {
        list-style: none;
    }
    .nav ul li a {
        /*display: block;*/
        padding: 10px 0;
        text-align: center;
        color: white;
        text-decoration: none;
        font-size: 20px;
        -webkit-transition-duration: 0.25s;
        transition-duration: 0.25s;
        display: none;
    }
    .nav ul:hover li a {
        opacity: 0.5;
    }
    .nav ul:hover li:hover a {
        opacity: 1;
    }
}


/*===================================第三===========================*/
#activeHeader{
    position:absolute;
    top:0;
    left:0;
    display: none;
}
#activeHeader .threeHeader{
    padding-bottom:20px;
}
#activeHeader  .threeHeader .logo{
    float: left;
    width:180px;
}
#activeHeader  .threeHeader .logo a,#activeHeader  .threeHeader .logo a h1,#activeHeader  .threeHeader .logo a h1 img{
    width:100%;
}
#activeHeader  .threeHeader .nav{
    float: right;
}
#activeHeader  .threeHeader .nav ul li{
    float: left;
}
#activeHeader  .threeHeader .nav ul li a{
    color: #000000;
    display:inline-block;
    padding:22px 30px 0 30px;
    line-height: 100%;
}
#activeHeader  .threeHeader .nav ul li a h2{
    font-size: 14px;
}
/*=======================================================footer===================================================================*/
#footer{
    background-color: #393D49;
    width:100%;
    color:#fff;
    display: table;
    padding:10px 30px;
}
#footer h2{
    font-size:16px;
    line-height: 24px;
    margin:0;
    padding:0;
    font-weight: 900;
}
#footer ul{
    margin:0;
    padding:0;
    width:100%;
}
#footer ul li h3{
    color: rgb(255, 255, 255);
    line-height: 30px;
    font-size: 13px;
    font-family: 微软雅黑;
    display: block;
    margin:0;
    padding:0;
}
#footer .infoImg img{
    width:100%;
}
#industrySection{
    width: 100%;
    height: 60px;
    background: #222;
    color: #aaa;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    line-height: 40px;
    position: relative;
}
#industrySection .industrySectionContainer{
    position: absolute;
    left: 50%;
    width: 160px;
    margin-left: -80px;
}
#industrySection #industrySpan{
    width:40px;
    height:40px;
    display: inline-block;
    float: left;
}
#industrySection #industrySpan a img{
    display: inline-block;
    width:40px;
    line-height: 40px;
}
#industrySection #ICPSpan {
    display: inline-block;
    float: left;
    line-height: 40px;
    height: 40px;
}
/******** page-start ********/



@media screen and (max-width: 960px){
    .page-size {
        margin-top: 10px;
        text-align: right;
    }
    .page-size a {
        text-decoration: none;
    }
    .page-total {
        padding: 2px 4px;
        color: #555;
        display: none;
    }
    .page-disabled {
        display: inline-block;
        border: 1px solid #eee;
        background-color: #eee;
        padding: 2px 4px;
        color: #555;
        cursor: not-allowed;
    }
    .page-active {
        margin: 2px;
        display: inline-block;
        border: 1px solid #56BC94;
        background-color: #56BC94;
        padding: 2px 4px;
        color: #fff;
    }
    .normal {
        margin: 4px;
        display: inline-block;
        border: 1px solid #ddd;
        padding: 2px 4px;
        color: #555;
    }
    /*.page-active a:nth-of-type(1){
        background-color: #000;
    }
    .page-active .page-active{
        display: none;
    }*/
    .page-size a{
        display: none;
    }
    .page-size a:nth-of-type(1){
        display: inline-block;
    }
    .page-size a:nth-last-of-type(1){
        display: inline-block;
    }
    /*.page-size a:nth-of-type(1),.page-size a:nth-last-child(1){
        display: inline-block;
    }*/
    /*.page-size a:nth-of-type(1){
        display: block;
    }
    .page-size a:nth-last-child(1){
        display: block;
    }*/
}
@media screen and (min-width:960px) {
    .page-size {
        margin-top: 10px;
        text-align: right;
    }
    .page-size a {
        text-decoration: none;
    }
    .page-total {
        padding: 8px 16px;
        color: #555;
    }
    .page-disabled {
        display: inline-block;
        border: 1px solid #eee;
        background-color: #eee;
        padding: 8px 16px;
        color: #555;
        cursor: not-allowed;
    }
    .page-active {
        margin: 5px;
        display: inline-block;
        border: 1px solid #56BC94;
        background-color: #56BC94;
        padding: 8px 16px;
        color: #fff;
    }
    .normal {
        margin: 5px;
        display: inline-block;
        border: 1px solid #ddd;
        padding: 8px 16px;
        color: #555;
    }
}