{extend name="content"/}

{block name="style"}
<style type="text/css">
    table tr td input {
        text-align: center;
        border: 1px solid #888888;
        border-radius: 5px;
    }
    .td_center {
        text-align: center;
    }
    .td_center a {
        display: inline-block;
        background-color: #EEEEEE;
        box-shadow: 0px 0px 2px #888888;
    }
    .editbutton div a{
        text-decoration: none;
        color: #000;
    }
</style>
{/block}

{block name="con"}
<div>
    <a target="main" href="{:url('heart/About/joinAdd')}" class="easyui-linkbutton radius-3"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;添加职位</a>
</div>
<hr class="hr-height-2">
<table>
    <colgroup>
        <col width="4%">
        <col width="5%">
        <col width="10%">
        <col width="20%">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="5%">
        <col width="10%">
        <col width="5%">
        <col width="8%">
    </colgroup>
    <thead>
    <tr>
        <th>排序</th>
        <th>ID</th>
        <th>岗位名称</th>
        <th>岗位描述</th>
        <th>发布人</th>
        <th>发布时间</th>
        <th>过期时间</th>
        <th>过期</th>
        <th>薪资待遇</th>
        <th>显示</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="joinList.list" id="v"}
    <tr>
        <td class="td_center"><input type="text" name="sort" value="{$v.sort}" onblur="sort({$v['id']},this)"></td>
        <td class="td_center">{$v.id}</td>
        <td class="td_center">{$v.name}</td>
        <td class="td_center">{$v.abs}</td>
        <td class="td_center">{:config('author.name')}</td>
        <td class="td_center">{$v.addtime|date='Y-m-d',###}</td>
        <td class="td_center">{$v.etime|date='Y-m-d',###}</td>
        <td class="td_center">{$v.etime <= time() ? '过期' : '未过期'}</td>
        <td class="td_center">{$v.money}</td>
        <td class="td_center">{$v.is_show == 1 ? '显示' : '隐藏'}</td>
        <td class="td_center">
            <a href="javascript:void(0);" class="easyui-menubutton" data-options="menu:'#{$v.id}'"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;编辑</a>
            <div id="{$v.id}" class="editbutton" style="width:150px;">
                <div><a target="main" href="{:url('heart/About/joinEdit',['id'=>$v['id']])}">修改详情</a></div>
                <div class="menu-sep"></div>
                <div><a href="javascript:;" onclick="joinDel({$v['id']})">删除岗位</a></div>
            </div>
        </td>
    </tr>
    {/volist}
    <tr>
        <td colspan="11">
            <div class="page">
                {$joinList.page}
            </div>
        </td>
    </tr>
    </tbody>
</table>
{/block}

{block name="script"}
<script type="text/javascript">
    function joinDel(id)
    {
        $.messager.confirm({
            title: '提示：',
            msg: '危险！你确定要删除吗？',
            fn: function(r){
                if (r){
                    var url = "{:url('heart/About/joinDel')}";
                    $.get(url,{id:id},function (res) {
                        $.messager.alert({
                            title: '提示',
                            msg: res.msg,
                            fn: function(){
                                window.location.reload();
                            }
                        });
                    });
                }
            }
        });
    }

    function sort(id,obj)
    {
        var sort = obj.value;
        var url = "{:url('heart/About/sort')}";
        $.get(url,{id:id,sort:sort},function(res){
            $.messager.alert({
                title: '提示',
                msg: res.msg,
                fn: function(){
                    window.location.reload();
                }
            });
        })
    }
</script>
{/block}

