{extend name="base"/}
{block name="style"}
<link rel="stylesheet" href="/static/css/index/news.css">
{/block}
{block name="con"}
<div class="segmentation" style="height:300px;background: url('/static/img/index/product.png');">

</div>
<div id="newsList">
    <div class="container marginTop">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="newsdetial">
                <h3 class="newsTitle">{$pro.name}</h3>
                <div class="newsTime">
                    <span class="publishTime">发布日期：{$pro.addtime|date="Y-m-d",###}</span>
                    <span class="publishPerson">发布人：{$pro.uid}</span>
                </div>
                <div class="newsWrap">
                    {$pro.content}
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="script"}
<script>
    $("img").attr("data-tag","imageSharePreview");
</script>
{/block}

